<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>垃圾箱</title>
		<link rel="stylesheet" type="text/css" th:href="@{/admin/plugins/bootstrap/css/bootstrap.css}" href="plugins/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" th:href="@{/admin/plugins/editor.md/css/editormd.css}" href="plugins/editor.md/css/editormd.css">
		<link rel="stylesheet" th:href="@{/admin/plugins/select2/css/select2.css}" href="plugins/select2/css/select2.css">
		<link rel="stylesheet" th:href="@{/admin/plugins/sweetalert2/sweetalert2.css}"  href="plugins/sweetalert2/sweetalert2.css">
		<link rel="stylesheet" type="text/css" th:href="@{/admin/css/main_admin.css}" href="css/main_admin.css" />
	</head>
	<body>
		<div class="container-fluid">
			<!-- 头部开始 -->
			<div class="row" id="mid-bin23">
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#">
								GOD23BIN
								<!-- <img alt="Brand" src="..."> -->
							</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="index.html">博客首页</a></li>
							</ul>

							<ul class="nav navbar-nav navbar-right">
								<li><a href="my-msg.html">消息通知</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">god23bin
										<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="setting-base.html">设置</a></li>
										<li><a href="#">注销</a></li>
									</ul>
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div>
				</nav>
			</div>
			<!-- 头部结束 -->

			<!-- 中间开始 -->
			<div class="row">
				<!--这里overflow了，class="col-sm-2"没效果-->
				<div class="col-sm-2" id="side-bar-bin23">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation" id="bar-1"><a href="index.html">统计</a></li>
						<li class="active" role="presentation" id="bar-2">
							<a href="#docCollapse" class="nav-header collapsed collapseParent" data-toggle="collapse" id="collapseParent"
							 onclick="chevron_toggle()">
								博客管理<span id="slide1" class="pull-right glyphicon glyphicon-chevron-down"></span>
							</a>
							<ul id="docCollapse" class="nav nav-list collapse">
								<li><a href="my-articles.html">我的文章</a></li>
								<li><a href="edit.html">写博客</a></li>
								<li><a href="drawcase.html">草稿箱</a></li>
								<li class="active"><a href="bincase.html">垃圾箱</a></li>
							</ul>
						</li>
						<li role="presentation"><a href="user-manage.html" >用户管理</a></li>
						<li role="presentation"><a href="class-label.html">分类标签</a></li>
						<li role="presentation"><a href="comments.html">评论留言</a></li>
						<li role="presentation"><a href="img-manage.html">图片管理</a></li><li role="presentation"><a href="attach-manage.html">附件管理</a></li>
					</ul>
				</div>
				<!---->
				<div class="col-sm-2">

				</div>
				<div class="col-sm-10" id="content-bin23">
					<div class="row">
						<div class="col-md-12">
							<h1 class="page-header">
								垃圾箱 <small>爱你哦！</small>
							</h1>
							<ol class="breadcrumb">
								<li><a href="#">博文管理</a></li>
								<li>垃圾箱</li>
							</ol>
						</div>
					</div>

					<div class="row">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th width="55%">文章标题</th>
									<th width="15%">保存时间</th>
									<th width="15%">想要的操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>VMware15上安装LinuxCentOS7以及网络配置</td>
									<td>2020-9-20</td>
									<td>
										<div class="btn-group btn-group-sm">
											<button class="btn btn-primary btn-sm">恢复文章</button>
											<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal1">
												永久删除
											</button>
											<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															<h4 class="modal-title" id="myModalLabel1">你确定要删除？</h4>
														</div>
														<div class="modal-body">
															一旦删除，就找不回了哦
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
															<button type="button" class="btn btn-primary">删除</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>如何实现登录的</td>
									<td>2020-9-20</td>
									<td>
										<div class="btn-group btn-group-sm">
											<button class="btn btn-primary btn-sm">恢复文章</button>
											<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal2">
												永久删除
											</button>
											<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															<h4 class="modal-title" id="myModalLabel2">你确定要删除？</h4>
														</div>
														<div class="modal-body">
															一旦删除，就找不回了哦
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
															<button type="button" class="btn btn-primary">删除</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>爬虫：HttpClient和Jsoup的应用</td>
									<td>2020-9-20</td>
									<td>
										<div class="btn-group btn-group-sm">
											<button class="btn btn-primary btn-sm">恢复文章</button>
											<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal3">
												永久删除
											</button>
											<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															<h4 class="modal-title" id="myModalLabel3">你确定要删除？</h4>
														</div>
														<div class="modal-body">
															一旦删除，就找不回了哦
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
															<button type="button" class="btn btn-primary">删除</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>

							</tbody>
						</table>

						<div class="row">
							<div class="col-sm-8">

							</div>
							<div class="col-sm-4">
								<nav aria-label="Page navigation">
									<ul class="pagination">
										<li>
											<a href="#" aria-label="Previous">
												<span aria-hidden="true">&laquo;</span>
											</a>
										</li>
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li>
											<a href="#" aria-label="Next">
												<span aria-hidden="true">&raquo;</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						
						<footer>
							<p>Copyright &copy; 2020.God23Bin All rights reserved.</p>
						</footer>
					</div>
				</div>
				<!-- 中间结束 -->

				<!-- 尾部开始 -->
				<div class="row">

				</div>
				<!-- 尾部结束 -->
			</div>
		</div>
		<script th:src="@{/js/jquery-3.4.1.js}" src="plugins/bootstrap/js/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/js/bootstrap.js}" src="plugins/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/admin/plugins/editor.md/editormd.js}" src="plugins/editor.md/editormd.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript">
			function chevron_toggle() {
				$("#collapseParent").find("span#slide1").toggleClass("glyphicon-chevron-up");
				$("#collapseParent").find("span#slide1").toggleClass("glyphicon-chevron-down");
			}

		</script>
	</body>
</html>
