<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
	<head>
		<meta charset1="utf-8">
		<title>测试</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="css/bootstrap.css" />
		<style type="text/css">
			#main{
				height:500px;
				float:right;
				margin-right:80px;
				margin-top:-50px;
			}
			
		</style>
	</head>
	<body>
		<div id="main">
		<div class="strength grWidth hidden">
		    <div class="homeTitle">
		      
		    </div>
		    <ul class="strengthMain">
		        <li><a href=""><img src="img/zone/best-1.jpg" alt="哈士奇"><div class="font"><h3>哈士奇</h3><p>西伯利亚雪橇犬(英语:Siberian husky)，常见别名哈士奇，俗名为二哈。</p></div></a></li>
		        <li><a href=""><img src="img/zone/best-2.jpg" alt="萨摩"><div class="font"><h3>萨摩</h3><p>萨摩,以西伯利亚牧民族萨摩人而命名，一向被用来拉雪橇和看守驯鹿。</p></div></a></li>
		        <li><a href=""><img src="img/zone/best-3.jpg" alt="比熊犬"><div class="font"><h3>比熊犬</h3><p>比熊犬性情开朗，活泼、聪明、勇敢、机警，感情丰富，有较强的适应能力。</p></div></a></li>
		        <li><a href=""><img src="img/zone/best-4.jpg" alt="西施"><div class="font"><h3>西施</h3><p>西施犬既是一种极好的玩赏狗，又是一种最适合家居生活的典型伴侣狗。</p></div></a></li>
		    </ul>
		</div>
		</div>
		<script src="js/jquery-3.4.1.js" type="text/javascript" charset1="utf-8"></script>
		<script src="js/bootstrap.js" type="text/javascript" charset1="utf-8"></script>
		<script src="js/umbrella.js" type="text/javascript" charset1="utf-8"></script>
		<script src="js/clock/moment.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
		</script>
	</body>
</html>
